<div class="flex flex-col bg-white text-sm pe-1">
  <div class="flex justify-start items-center lg:justify-end">
    <span class="lg:text-right me-1">{% t embed_footer %}</span>
    <img class="inline h-5" src="/assets/img/mapbox-logo-black.png" />
  </div>
  <div class="flex justify-start items-center lg:justify-end">
    <span class="me-1">Some data provided by</span>
    <a href="https://vaccinefinder.org" target="_blank">
      <img
        class="inline object-contain mb-1"
        width="100"
        src="/assets/img/vaccinefinder_logo.png"
      />
    </a>
  </div>
</div>
