<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative inline-block">
    <div>
      <button class="js-filter-button inline-flex justify-center w-full rounded-md px-2 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-green-500" aria-haspopup="true">
        <img width="20" src="assets/img/funnel-outline.svg"/>
        Filters 
      </button>
    </div>
  
    <!--
      Dropdown menu, show/hide based on menu state.
  
      Entering: "transition ease-out duration-100"
        From: "transform opacity-0 scale-95"
        To: "transform opacity-100 scale-100"
      Leaving: "transition ease-in duration-75"
        From: "transform opacity-100 scale-100"
        To: "transform opacity-0 scale-95"
    -->
    <div class="js-filter-dropdown hidden origin-top-right absolute right-0 mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-10" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
      <div class="py-1 text-gray-700 text-sm flex flex-col pe-4">
        <div class="flex items-center px-4 py-2"><input class="js-moderna-filter me-1" type="checkbox"><span> {% t moderna %}</span></div>
        <div class="flex items-center px-4 py-2"><input class="js-pfizer-filter me-1" type="checkbox"><span> {% t pfizer %}</span></div>
        <div class="flex items-center px-4 py-2"><input class="js-jj-filter me-1" type="checkbox"><span> {% t jj %}</span></div>
      </div>
    </div>
</div> 