<div class="pt-3 mt-3 text-gray-400 bg-white border-t-2 border-gray-200">
  <div class="flex flex-col lg:flex-row lg:justify-between">
    <div>
      {% tf footer_about_us.html %}
      <a href="{% link about-us.html %}">{% t footer_text %}</a>
      <p>
        {%if site.twitter != nil %}
        <a
          href="https://twitter.com/{{ site.twitter }}"
          target="_blank"
          rel="noreferrer"
          class="inline-block"
        >
          <img class="h-8 w-8 mr-1" src="/assets/img/twitter.svg" />
        </a>
        {%endif%} {%if site.instagram != nil %}
        <a
          href="https://www.instagram.com/{{ site.instagram }}"
          target="_blank"
          rel="noreferrer"
          class="inline-block"
        >
          <img class="h-8 w-8 mx-1" src="/assets/img/instagram_gradient.png" />
        </a>
        {%endif%}
      </p>
    </div>
    <div>
      <span class="me-2">{% t maps_sponsored_by %}</span>
      <img
        class="inline"
        width="132"
        height="30"
        src="/assets/img/mapbox-logo-black.png"
      />
    </div>
  </div>
</div>
