<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {%if page.title == "home_title" %}{{site.title}}{%else%}{% t page.title %} |
    {{ site.title }} {%endif%}
  </title>

  <link href="/assets/css/main.css" rel="stylesheet" />
  <script src="/assets/js/main.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap"
    rel="stylesheet"
  />
</head>
