@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DM Sans", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "DM Sans", sans-serif;
  }
}

body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

nav {
  top: env(safe-area-inset-top, 0);
  right: env(safe-area-inset-right, 0);
  left: env(safe-area-inset-left, 0);
}

/* Add underlines to links... */
a {
  color: #0366d6;
  text-decoration: underline;
}

/* ... but exempt a bunch of things. */
nav a,
a[class^="bg-"],
a[class*=" bg-"],
a[class^="border-"],
a[class*=" border-"],
a.no-underline {
  text-decoration: none;
}

/* search. Overrule predefined search stylings when appropriate TODO: fully write our own css without importing theirs */
#search-container {
  transform: scale(
    0.8
  ); /* unfortunate hacks to undo their mediaquery styling */
}
@media (min-width: 640px) {
  #search-container {
    transform: scale(1);
  }
}

.mapboxgl-ctrl-geocoder {
  font-family: "DM Sans", sans-serif;
  @apply shadow-none rounded-full border border-gray-300 hover:border-gray-400 md:w-80;
}

.mapboxgl-ctrl-geocoder--input:focus {
  outline: none;
}

/* site cards */
#cards > li > details[open] > summary {
  @apply border-b border-gray-300;
}
