@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DM Sans", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "DM Sans", sans-serif;
  }
}

/* Add underlines to links... */
a {
  color: #0366d6;
  text-decoration: underline;
}

/* ... but exempt a bunch of things. */
nav a,
a[class^="bg-"],
a[class*=" bg-"],
a[class^="border-"],
a[class*=" border-"],
a.no-underline {
  text-decoration: none;
}

/* search */
.mapboxgl-ctrl-geocoder {
  font-family: "DM Sans", sans-serif;
  @apply shadow-none rounded-full border border-gray-300 hover:border-gray-400 md:w-80;
}

.mapboxgl-ctrl-geocoder--input:focus {
  outline: none;
}

/* site cards */
#cards > li > details[open] > summary {
  @apply pb-0 border-b border-gray-300;
}
