@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DM Sans", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "DM Sans", sans-serif;
  }
}

/* Add underlines to links... */
a {
  color: #0366d6;
  text-decoration: underline;
}

/* ... but exempt a bunch of things. */
nav a,
a[class^="bg-"],
a[class*=" bg-"],
a[class^="border-"],
a[class*=" border-"],
a.no-underline {
  text-decoration: none;
}

.search-input {
  background: url(/assets/img/search.svg) no-repeat scroll 8px 48%;
  padding-inline-start: 32px;
}


/* loading spinner */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring > div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 4px;
  border: 4px solid #D1D5DB;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #D1D5DB transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}