@import "mapbox-gl/dist/mapbox-gl.css";

@media (min-width: 1024px) {
  #map {
    @apply sticky top-2 left-0;
    height: 90vh;
  }
}

.mapboxgl-popup-close-button {
  padding: 5px;
}

/* search */
.mapboxgl-ctrl-geocoder {
  font-family: "DM Sans", sans-serif;
  @apply shadow-none rounded-full border border-gray-300 hover:border-gray-400 md:w-80;
}

.mapboxgl-ctrl-geocoder--input:focus {
  outline: none;
}