<div class="pt-2 mt-2 border-t text-sm">
    {{#if pfizerFiltered }}
        The Pfizer-BioNTech vaccine is now authorized for children as young as 12. This map shows only sites with Pfizer-BioNTech doses reported available. <a href="/">Show all vaccination sites.</a>
    {{else}}
        The Pfizer-BioNTech vaccine is now authorized for children as young as 12. <a href="/?pfizer=1">Show only sites with Pfizer-BioNTech doses reported available.</a>
    {{/if}}
</div>