<div class="mt-2 text-small">
    {{#if pfizerFiltered }}
        <a href="/">Show me all sites, not just those with Pfizer</a>
    {{else}}
        <a href="/?pfizer=1">Only show sites reported to have the Pfizer vaccine, which is authorized for people as young as 16</a>
    {{/if}}
</div>