<div class="site-card rounded-lg mt-4 p-4 relative grid grid-cols-1
    shadow-md">
    <h4>
        {{name}}
    </h4>
    <div>
        <span class="bold">{{t "address"}}</span>{{address}}
    </div>
</div>
